body {
  padding: 0 50px;
  background-color: hwb(40 52% 0%);
  font-family: sans-serif;
  text-align: justify;
}

h1 {
  margin: 0;
  font-family: "SigmarOne";
  font-size: 3rem;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
  margin: 0;
  color:hwb(30 37% 1%);
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
  text-transform: capitalize;
  text-shadow: 3px 3px rgb(26, 26, 26);
}

strong {
  padding: 0 10px;
  background-color: white;
  color: rgb(107, 49, 2);
}

i {
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: underline;
}

time {
  color: rgb(115, 44, 2);
}

img {
  border: hwb(32 27% 55%) 5px solid;
  padding: 5px;
}

img.izquierda {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

img.derecha {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}

p.izquierda {
  float: left;
  width: 33%;
}

p.centrado {
  text-align: center;
}

hr {
  clear: both;
  width: 66%;
  height: 10px;
  border: black 1px solid;
  border-radius: 5px;
  margin: 40px auto;
  background-color: hwb(30 33% 14%);
}

address {
  text-align: right;
  font-style: normal
}